<!doctype html>
<html>
    <head>
        <title>Tests for [Lifecycle]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Lifecycle]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>container should be a &lt;div&gt; node by default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>default container should be created lazily</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>container events should be attached lazily when specified via a valueFn</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>container events should be attached lazily when specified via an attr value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>events property should be an empty object by default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>events with missing handler functions should not cause an error during destruction</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>initializer should allow setting a ad-hoc attrs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>initializer should allow setting a containerTemplate at init</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>initializer should allow setting events at init</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>initializer should allow setting a template at init</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>create() should not be called on init</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destructor should not remove the container by default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destructor should remove the container from the DOM if &#x60;remove&#x60; options is truthy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon Jun 17 2013 19:26:15 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

