<!doctype html>
<html>
    <head>
        <title>Tests for [Y.DOM.setValue]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Y.DOM.setValue]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>input value should match updated value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>value updated from empty string should be new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>value updated from no value should be new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>textarea from html value should match new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>textarea from no value should match new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>button value should match updated value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>button value updated from empty string should be new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>button value updated from no value should be new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>option value should match updated value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>option value updated from text should be new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>option value updated from empty string should be new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>option value updated from no value should be new value</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 05:33:46 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

