<!doctype html>
<html>
    <head>
        <title>Tests for [Y.on]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Y.on]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, node)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, node, thisObj)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, node, thisObj, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, node, null, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, el)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, el, thisObj)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, el, thisObj, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, el, null, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorOne)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorOne, thisObj)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorOne, thisObj, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorOne, null, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorMultiple)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorMultiple, thisObj)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorMultiple, thisObj, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, selectorMultiple, null, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, notYetAvailable)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, notYetAvailable, thisObj)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, notYetAvailable, thisObj, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn, notYetAvailable, null, arg)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test Y.on(&#x27;synth&#x27;, fn) defaults to window</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 17:12:11 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

