<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/98</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/98</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>testAdd</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.027</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testInsert</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testPreRenderedChildWithEmptyParent</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testAddOutOfOrderPreRender</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testAddOutOfOrderPostRender</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.007</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testRemove</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.008</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testRemoveSelectedChild</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.014</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testRemoveFocusedChild</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testSingleSelection</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.023</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testMultipleSelection</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.019</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testAncestorNavigation</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.018</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testSiblingNavigation</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testActiveDescendant</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.017</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testFullDestroy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.01</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testRemoveChildOnDestroy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.01</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testUIEvents</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.01</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testCustomAsyncRender</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.044</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Thu Jun 06 2013 20:14:23 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

