<!doctype html>
<html>
    <head>
        <title>Tests for [Attributes]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Attributes]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>logEvent should be writeOnce</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>logSource should be writeOnce</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test strings</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test paused</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test defaultCategory</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test defaultSource</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test entryTemplate</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test logLevel</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test printTimeout</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test printLimit</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test consoleLimit</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test newestOnTop</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test scrollIntoView</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test collapsed</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test style</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Thu May 23 2013 23:12:52 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

