<!doctype html>
<html>
    <head>
        <title>Tests for [Gesture &#x27;flick&#x27; Tests]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Gesture &#x27;flick&#x27; Tests]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>test default flick gesture</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.207</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test flick to left for 100ms on a designated spot</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.166</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test flick gesture with auto adjustment of duration when too slow</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.166</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Thu May 23 2013 22:28:23 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

