<!doctype html>
<html>
    <head>
        <title>Tests for [Routes]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Routes]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>routes should be called in the context of the router</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>routes should receive a request object, response object, and &#x60;next&#x60; function as params</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>routes should support multiple callback functions</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>routes should support an array of callback functions</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>routes should support an array of callback function string names</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>routes should support nested arrays of mixed function and string callbacks</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>route middleware should be able to skip to the next route</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>request object should contain captured route parameters</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>route parameters should be decoded</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>request object should contain a &#x60;pendingRoutes&#x60; property</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>calling &#x60;res()&#x60; should have the same result as calling &#x60;next()&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>calling &#x60;next()&#x60; should pass control to the next matching route</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&quot;*&quot; should be a catch-all route</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>routes containing a &quot;*&quot; should match the segments which follow it</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>multiple routers should be able to coexist and have duplicate route handlers</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.203</td>
                        
                    </tr>
                    
                    <tr>
                        <td>multiple nested routers should be able to coexist and duplicate route handlers</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.253</td>
                        
                    </tr>
                    
                    <tr>
                        <td>multiple nested non-HTML5 routers should be able to coexist and duplicate route handlers</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.262</td>
                        
                    </tr>
                    
                    <tr>
                        <td>multiple routers should respond to history events after one router is destroyed</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.203</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 17:12:11 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

