<!doctype html>
<html>
    <head>
        <title>Tests for [HistoryHash]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [HistoryHash]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>synthetic hashchange event should fire when the hash changes</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.054</td>
                        
                    </tr>
                    
                    <tr>
                        <td>hashchange should be case-sensitive (except in IE8+)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.102</td>
                        
                    </tr>
                    
                    <tr>
                        <td>createHash() should create a hash string from an object</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>decode() should decode URI components with + for space</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>encode() should encode URI components with + for space</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>setHash() should set the hash</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>getHash() should get the current raw (not decoded) hash string</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>getUrl() should get the current URL</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>parseHash() should parse a hash string into an object</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>parseHash() should use the current hash if no argument is provided</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>replaceHash() should replace the hash</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>bookmarked state should be merged into initialState</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>add() should change the hash</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>replace() should replace the hash</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Setting an unencoded hash value outside of HistoryHash should not result in two history entries</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.159</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Setting a non-string value should not result in two history entries</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.264</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Subscribers of hashchange should not be called once for every YUI instance</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.115</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Thu May 30 2013 00:11:16 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

