<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/48</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/48</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for easeNone</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.258</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for easeIn</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for easeOut</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for easeBoth</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for easeInStrong</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for easeOutStrong</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for easeBothStrong</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.271</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for elasticIn</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for elasticOut</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for elasticBoth</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.251</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for backIn</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for backOut</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for backBoth</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for bounceIn</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for bounceOut</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.27</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should end at the final value for bounceBoth</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.271</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon May 13 2013 20:10:08 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

