<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/77</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/77</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>test md00 centerButton mousedown</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md01 min:0 max:100 -- drag past max/max, then click 11 or 1 o&#x27;clock.</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.023</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md02 mousedown Range = one revolution. Not at North</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md03  min:0 max:100 -- mousedown on and off North. Range = one revolution</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.016</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md04 min: 0, max: 200 -- drag past max/max, then click 11 or 1 o&#x27;clock.</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.017</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md05 min: 0, max: 200 -- click through two revolutions CW</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.018</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md06 min: -35, max: 35 -- drag past max/max, then click in/out of range also #2530597.</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.024</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md07 min: 10, max: 25 -- mousedown text min max and opposite mid angle </td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.014</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md08 min: 75, max: 90 -- mousedown test min max and opposite mid angle </td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.014</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md09 min: 5, max: 80 -- mousedown text min max and opposite mid angle</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.014</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md10 drag CW past max, then click 11 O&#x27;clock -- min: 0, max: 100</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.014</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md11 drag CCW past min, then click 1 O&#x27;clock -- min: 0, max: 100</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md12 instantiate dial, increase margin, then click ring</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.022</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test md13 go past max more than maxTimesWrapped. ratchet to maxTimesWrapped</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 17:31:47 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

