<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/60</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/60</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>testLabelRotation</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.058</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Tue May 14 2013 22:58:48 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

