<!doctype html>
<html>
    <head>
        <title>Tests for [Y.Get methods]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Y.Get methods]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>abort() should abort a transaction when given a transaction object</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>abort() should abort a transaction when given a transaction id</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>css() should accept a URL</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.022</td>
                        
                    </tr>
                    
                    <tr>
                        <td>css() should accept a URL, options object, and callback function</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>css() should allow the callback function as the second parameter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>css() should accept an array of URLs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>css() should accept a request object</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>css() should accept an array of request objects</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>css() should accept a mixed array of URLs and request objects</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>js() should accept a URL</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.021</td>
                        
                    </tr>
                    
                    <tr>
                        <td>js() should accept a URL, options object, and callback function</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>js() should allow the callback function as the second parameter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>js() should accept an array of URLs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.007</td>
                        
                    </tr>
                    
                    <tr>
                        <td>js() should accept a request object</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>js() should accept an array of request objects</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.007</td>
                        
                    </tr>
                    
                    <tr>
                        <td>js() should accept a mixed array of URLs and request objects</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.006</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should accept a URL</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.021</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should accept a URL, options object, and callback function</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should allow the callback function as the second parameter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.018</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should accept an array of URLs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.02</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should accept a request object</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.006</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should accept an array of request objects</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should accept a mixed array of URLs and request objects</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>script() should be an alias for js()</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Thu May 16 2013 00:42:00 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

