<!doctype html>
<html>
    <head>
        <title>Tests for [Editor Tests]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Editor Tests]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>test_load</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_frame</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>1.51</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_frame_use</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.06</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_frame_general</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: _DOMPaste</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_frame_destroy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_editor</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>1.554</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_copy_styles</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_node</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_get_content</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_font_size_normalize</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_selection_font_removal</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_gettext</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_selection_general</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_selection_methods</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: EditorSelection</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_execCommands</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.007</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_window</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_doc</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: selection.remove()</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_destroy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.006</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_para_plugin</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.08</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_double_plug_setup</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_double_plug</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_double_down</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.066</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_double_plug_setup2</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_double_plug2</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_double_down2</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.064</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_bidi_noplug</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>1.571</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_bidi_plug</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.042</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon Jun 17 2013 17:37:33 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

