<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/77</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/77</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>should detach events when destroyed</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>getOffscreenNodes() should return offscreen nodes matching the given selector</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: getOffscreenNodes() should respect the margin parameter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.054</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: getOffscreenNodes() should respect the margin parameter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>getOnscreenNodes() should return onscreen nodes matching the given selector</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: getOnscreenNodes() should respect the margin parameter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: getOnscreenNodes() should respect the margin parameter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: getScrollInfo() should return current scroll information</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: getScrollInfo() should return current scroll information</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>refreshDimensions() should refresh cached info on a node&#x27;s dimensions</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scroll event should fire on scroll</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scroll event should fire on scroll</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollLeft event should fire after scrolling down</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollDown event should fire after scrolling down</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollLeft event should fire after scrolling left</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollLeft event should fire after scrolling left</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollRight event should fire after scrolling right</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollRight event should fire after scrolling right</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollUp event should fire after scrolling up</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollUp event should fire after scrolling up</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollToBottom event should fire after scrolling to the bottom</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollToBottom event should fire after scrolling to the bottom</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollToLeft event should fire after scrolling to the extreme left</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.054</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollToLeft event should fire after scrolling to the extreme left</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.054</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollToRight event should fire after scrolling to the extreme right</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollToRight event should fire after scrolling to the extreme right</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>body: scrollToTop event should fire after scrolling to the top</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.054</td>
                        
                    </tr>
                    
                    <tr>
                        <td>div: scrollToTop event should fire after scrolling to the top</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.054</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 17:31:47 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

