<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/64</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/64</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>valuechange event should start polling on mousedown and fire an event when the value changes</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.064</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should support textareas as well</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.053</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should start polling on keydown</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should stop polling on blur</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.406</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should stop polling on blur - with blur()</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.406</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should start polling on focus</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should start polling on focus - with focus()</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.054</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should not report stale changes that occurred while a node was not focused</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.203</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should not report stale changes that occurred while a node was not focused - with focus() and blur()</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.204</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should start polling on keyup for IME keystrokes</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.606</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should stop polling after timeout</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.195</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valueChange should be an alias for valuechange for backcompat</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Sat May 18 2013 12:58:49 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

