<!doctype html>
<html>
    <head>
        <title>Tests for [Properties]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Properties]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>&#x60;root&#x60; property should be an empty string by default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.017</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;url&#x60; property should be an empty string by default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Static &#x60;CSRF_TOKEN&#x60; should default to the value of &#x60;YUI.Env.CSRF_TOKEN&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon Jun 17 2013 17:37:33 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

