<!doctype html>
<html>
    <head>
        <title>Tests for [Loader Tests]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Loader Tests]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>test: skin overrides double loading</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.007</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: empty skin overrides</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.019</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_skin_overrides</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.017</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_no_calc</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.01</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_manual_calc</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.017</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_auto_calc</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.025</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_combo</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.019</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_filter_debug</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.024</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_filter_min</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.024</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_filter_raw</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.019</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_custom_filter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_custom_filter_group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.006</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_combo_sep</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.025</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_combo_sep_group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.019</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_maxurl_length</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.021</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_maxurl_length_higher</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.025</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_maxurl_length_too_low</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.014</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_maxurl_length_group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.017</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_resolve_filters</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.02</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_group_filters</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.015</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_module_attrs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.019</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_global_attrs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.01</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_iter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.19</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_progress</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.199</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_failure</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.016</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_timeout</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_condpattern</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.01</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_cond_with_test_function</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_cond_no_test_or_ua</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: conditional trigger is an array</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: conditional module in array second module</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: conditional array in modules not required</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_css_stamp</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.046</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testing duplicate CSS loading</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testing fetchCSS false</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.035</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_forcemap</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_global_mods</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.024</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_skin_default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_skin_string</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_skin_object</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_load_optional</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.019</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_load_css_without_type</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.026</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_load_as_string</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_combine_no_core_top_level</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_combine_no_core_group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_outside_group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_outside_nocombine</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_submodules</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_plugins</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_fullpath_with_combine</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.01</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_load</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.027</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_async</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.015</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: aliases config option</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: aliases config option inside group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: addAlias</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.016</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: gallery combo with custom server</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: 2in3 combo with custom server</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: gallery skinnable</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.107</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: global async flag</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: 2 loader instances with different skins</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.052</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: multiple loaders, different resolve order</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.036</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: 2 loader instanced without shared module data</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.034</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: cascade dependencies</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.006</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: local lang file include</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.015</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: local lang file include in a group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: local skin file include</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.033</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: local skin file include in a group</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.012</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test: rootlang empty array</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testing configFn for bug #2532498</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test coverage filter</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.017</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test external lang 1</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.021</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 05:25:00 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

