<!doctype html>
<html>
    <head>
        <title>Tests for [Sync]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Sync]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>load() should perform a GET XHR the &#x60;url&#x60; of the model</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>load() should perform a GET XHR the &#x60;root&#x60; of the model list</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>save() should perform a POST XHR to the &#x60;root&#x60; of a new model</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>save() should perform a PUT XHR to the &#x60;url&#x60; an exiting model</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destroy({remove: true}) should perform a DELETE XHR to the &#x60;url&#x60; an exiting model</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>EMULATE_HTTP should use POST instead of PUT or DELETE XHRs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>sync() should accept &#x60;csrfToken&#x60;, &#x60;headers&#x60;, and &#x60;timeout&#x60; options</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Failed sync() calls should pass the HTTP status code and message to the callback</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 15:40:12 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

