<!doctype html>
<html>
    <head>
        <title>Tests for Y.Node.insert</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for Y.Node.insert</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>insert should fail silently given null input</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>insert should work with 0 (falsy number input)</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>insert should replace content when given null input and replace where string</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>prepend should fail silently given null input</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Thu May 16 2013 00:00:42 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

