<!doctype html>
<html>
    <head>
        <title>Tests for [Stop Polling]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Stop Polling]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>valuechange should stop polling on blur</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.253</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should stop polling on blur - with blur()</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.254</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should not report stale changes that occurred while a node was not focused</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.203</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should not report stale changes that occurred while a node was not focused - with focus() and blur()</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.203</td>
                        
                    </tr>
                    
                    <tr>
                        <td>valuechange should stop polling after timeout</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.753</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon Jun 17 2013 19:52:37 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

