<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/45</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/45</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>initializer should accept a &#x60;sortComparator&#x60; config option</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>initializer should accept a &#x60;sortReverse&#x60; config option</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon May 13 2013 19:34:01 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

 </div>
    </body>
</html>

en">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>constructor should generate a unique id if one is not specified</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon May 13 2013 19:34:01 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

or: &#x60;rootNode&#x60; config property should support a custom Tree.Node instance</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>constructor: should allow both &#x60;nodes&#x60; and &#x60;rootNode&#x60; to be specified</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destructor should destroy the root node</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destructor should free references to allow garbage collection</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon May 13 2013 19:34:01 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

          </tr>
                    
                    <tr>
                        <td>initializer should allow setting a template at init</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>create() should not be called on init</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destructor should not remove the container by default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destructor should remove the container from the DOM if &#x60;remove&#x60; options is truthy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon May 13 2013 19:34:01 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

                    <td>0.002</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Mon May 13 2013 19:34:01 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

