<!doctype html>
<html>
    <head>
        <title>Tests for [Attributes]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Attributes]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>Deprecated static values should set appropriate ATTRs</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Forced axis to X should evaluate properly</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Forced axis to Y should evaluate properly</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Forced axis to XY should evaluate properly</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>An unspecified axis for a widget of these dimensions should autocalculate to x:true and y:true</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Changing flick to false should work</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.107</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Changing drag to false should work</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.106</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 15:40:12 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

