<!doctype html>
<html>
    <head>
        <title>Tests for Naivation</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for Naivation</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>&#x60;_upgradeURL()&#x60; should upgrade a path-like hash-based URL to a full URL</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;_upgradeURL()&#x60; should not upgrade a hash-based URL which is not path-like</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;_upgradeURL()&#x60; should strip any hash-prefix from the hash-based URL</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;_upgradeURL()&#x60; should not upgrade URLs of a different origin</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate()&#x60; should upgrade hash-based URLs when &#x60;serverRouting&#x60; is falsy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate()&#x60; should upgrade hash-based URLs when &#x60;serverRouting&#x60; is &#x60;true&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate()&#x60; should force the firing of the &#x60;navigate&#x60; event when &#x60;serverRouting&#x60; is falsy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate()&#x60; should replace the history entry when the new and current URLs are the &quot;same&quot;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.007</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate()&#x60; should not override user-specified values for &#x60;force&#x60; and &#x60;replace&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;_save()&#x60; should throw an error when the specified URL is not of the same origin</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Wed May 15 2013 23:45:25 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

