<!doctype html>
<html>
    <head>
        <title>Tests for [Events]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Events]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>sortNode() should fire a &#x60;sort&#x60; event</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>sortNode() should not fire an event when &#x60;options.silent&#x60; is truthy</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Sat May 25 2013 06:05:46 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

