<!doctype html>
<html>
    <head>
        <title>Tests for [Y.batch basic tests]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Y.batch basic tests]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>batch should return a promise</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>empty parameter list should return an empty array</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.011</td>
                        
                    </tr>
                    
                    <tr>
                        <td>order of promises should be preserved</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.041</td>
                        
                    </tr>
                    
                    <tr>
                        <td>values should be wrapped in a promise</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.021</td>
                        
                    </tr>
                    
                    <tr>
                        <td>correct handling of function parameters</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.021</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 16:55:10 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

