<!doctype html>
<html>
    <head>
        <title>Results for dev-3.x/64</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Results for dev-3.x/64</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>node.on(x, fn) + node.on(x, fn) should  allow dups</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Y.on(x, fn) + node.on(x, fn) should allow dups</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>nodelist.on(x, fn) + node.on(x, fn) should allow dups</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>preventDups:true node.on(x, fn) + node.on(x, fn) should prevent dups</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>preventDups:true Y.on(x, fn) + node.on(x, fn) should prevent dups</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>preventDups:true nodelist.on(x, fn) + node.on(x, fn) should prevent dups</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Sat May 18 2013 12:58:49 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

