<!doctype html>
<html>
    <head>
        <title>Tests for [Event Delegate Tests]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Event Delegate Tests]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>test_simple_delegate_for_anchors</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_multiple_selectors</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_filter_function</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_filter_function_for_focus</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.013</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_document_as_container</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_checking_delegation_target</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_including_container_in_selector</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_targeting_container_without_selectors</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_multiple_selectors_one_match</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_multiple_delegate_matches</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_bubble_up_after_delegate</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_bubble_up_after_delegate_halt</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.005</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_direct_descendant_combinator</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.004</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_multiple_matches_in_subtree</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_removing_parent_in_subscriber</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_successful_purge</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>test_successful_detach</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>Y.delegate(&#x27;cat|type&#x27;) should subscribe event</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>node.delegate(&#x27;cat|type&#x27;) should subscribe event</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>node.detach(&#x27;cat|type&#x27;, fn) should detach delegate</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>node.detach(&#x27;cat|type&#x27;) should detach delegate</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>node.detach(&#x27;cat|*&#x27;) should detach delegate</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testPassingObjectForMultipleSubscriptions</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testThisObjOverrideWithObjectSubscription</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testPassingExtraArgsWithObjectSubscription</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testDetachingObjectSubscriptionViaHandle</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                    <tr>
                        <td>testPassingArrayForMultipleSubscriptions</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 05:33:46 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

