<!doctype html>
<html>
    <head>
        <title>Tests for [Views]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Views]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should set the &#x60;activeView&#x60; of an app based on the specified &#x60;content&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should accept an HTMLElement, String, or Node as the content</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should use the only child of a document fragment as the view &#x60;container&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should not use the only text node child of a document fragment as the view &#x60;container&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should wrap the children nodes of a document fragment with the view &#x60;container&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should accept a &#x60;callback&#x60; as either the second or third argument</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should create an instance of the specified &#x60;view&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent() should not render the view by default</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should use the &#x60;contentTemplate&#x60; of the view when a document fragment has multiple children</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showView()&#x60; should apply the &#x60;options.view.config&#x60; to the view</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;showContent()&#x60; should _always_ use &#x60;content&#x60; as the view &#x60;container&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 16:22:57 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

