<!doctype html>
<html>
    <head>
        <title>Tests for [Lifecycle]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Lifecycle]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>Initializer should accept an inputNode</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.008</td>
                        
                    </tr>
                    
                    <tr>
                        <td>destructor should detach events</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.003</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 05:33:46 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

