<!doctype html>
<html>
    <head>
        <title>Tests for [NodeList array methods]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [NodeList array methods]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>should pass correct arguments to each node</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return true when some function returns true</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return false when no function returns true</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return 0 from indexOf BODY</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return 0 from indexOf the first DIV</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return -1 from indexOf for non-existant node</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return -1 from indexOf for node not in nodelist</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should pop the nodelist</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should shift the nodelist</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should push the node on nodelist</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should unshift the node on nodelist</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should unshift the dom node on nodelist</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should concat the nodelists</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should concat the nodes</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return nodelist from empty concat</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return nodelist from empty slice</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should return nodelist from empty splice</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should slice the nodes</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should splice the nodes</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>should refresh the nodelist</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Fri May 24 2013 05:33:46 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

