<!doctype html>
<html>
    <head>
        <title>Tests for [Events]</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400700400italic700italic">
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.7.3/build/cssgrids/cssgrids-min.css">
        <link rel="stylesheet" href="http://yuilibrary.com/combo/css?main-min.css">
    </head>
    <body class="yui3-skin-sam phpbb ltr">
        <div id="bd">
            <h1>Tests for [Events]</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Pass</th>
                        <th>Time</th>
                    </tr>
                    
                    <tr>
                        <td>should attach events on init in HTML5 browsers</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;error&#x60; event should fire on Ajax failure</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.02</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;error&#x60; event should be preventable</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;load&#x60; event should fire on Ajax success</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.045</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;load&#x60; event should be preventable</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event facade should contain the options passed to &#x60;navigate()&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should fire when a pjax link is clicked</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should be preventable</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should not fire when a link is clicked with a button other than the left button</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should not fire when a modifier key is pressed</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should not fire when a click element is not an anchor</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should not fire when a link is clicked with a URL from another origin</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should not fire for a hash URL that resolves to the current page</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should fire for a hash-less URL that resolves to the current page</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.002</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&#x60;navigate&#x60; event should fire for a hash URL that resolves to the current page when &#x60;navigateOnHash&#x60; is &#x60;true&#x60;</td>

                        
                        <td style="color:green">&#x2713;</td>
                        

                        
                        <td>0.001</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <center>Generated: Sat May 25 2013 06:05:46 GMT+0000 (UTC)</center>
        </div>
    </body>
</html>

